*{
    color:#EBC678;
}

.bg-color-1{
    background-color:#553B44;
}

.bg-color-2{
    background-color: #74546A;
}

.bg-color-3{
    background-color: #BC344B;
}

.bg-color-4{
    background-color: #EBC678;
}

.border-color-1{
    border-color: #EC9D5D;
}

.text-color-1{
    color:#553B44;
}